{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Login{% endblock %}
{% block head %}
    {% include "partials/head.html" %}
{% endblock %}
{% block content %}
<body class="d-flex flex-column">
{% block body %}
<main class="flex-shrink-0">
    <!-- Navigation-->
    {% include "partials/nav.html" %}
    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            {% include "partials/messages.html" %}
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h1 class="fw-bolder">Login to create Tutorial </h1>
                    <p class="lead fw-normal text-muted mb-0">Kindly fill the form below with the right information</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="username" class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group mt-3">
                                <input type="password" name="password" class="form-control" placeholder="Password">
                            </div>
                            <input type="hidden" name="next" value="{{next}}" />
                            <!-- Submit Button-->
                            <div class="d-grid mt-4">
                                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
{% include "partials/footer.html" %}
{% include "partials/script.html" %}
</body>
{% endblock %}
