{% extends "base.html" %}
{% load static %}
{% block title %} My Account{% endblock %}
{% block head %}
{% include "partials/head.html" %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<body class="d-flex flex-column">
{% block body %}
<main class="flex-shrink-0">
    <!-- Navigation-->
    {% include "partials/nav.html" %}
    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                {% include "partials/messages.html" %}
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card border-0 shadow rounded-3">
                        <div class="card-body">
                            <a href="{% url 'users:profile_edit' request.user.userprofile.profile_id %}" class="btn btn-outline-secondary float-right"><i class="fa fa-user"></i> Edit</a>
                            <div class="d-flex align-items-center mt-lg-5 mb-4">
                                <img class="rounded-circle me-3 mx-auto" src="{% if object.picture.url != '' %} {{ object.picture.url }} {% else %} {% static 'images/tutorial.png' %} {% endif %}" width="200" height="200" alt="..." />
                            </div>
                            <div class="ms-3 text-center">
                                <div class="fw-bold">{{ object.user.first_name }} {{ object.user.last_name }}</div>
                                <div class="">@{{ object.user }}</div>
                                <div class="badge bg-secondary text-white px-2 py-2">{{ object.profession }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <article>
                        <header class="mb-4">
                            <h2 class="fw-bolder mb-1">About me</h2>
                        </header>
                        <p class="fs-5 mb-4 text-justify">{{ object.about }}</p>
                        <header class="mb-4">
                            <h2 class="fw-bolder mb-1">My Articles</h2>
                        </header>
                        <div class="row">
                        {% for post in object.post_set.all  %}
                        <div class="col-lg-6 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="{% if post.image.url != '' %} {{ post.image.url }} {% else %} {% static 'images/tutorial.png' %} {% endif %} " alt="..." />
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2 text-white py-2 px-2">{{ post.category }}</div>
                                    <a class="text-decoration-none text-dark" href="{% url 'cst:post_details' post.slug %}"><h5 class="card-title mb-3">{{ post.title }}</h5></a>
                                    <p class="card-text mb-0">{{ post.body|safe|truncatechars:150 }}...</p>
                                    {% if request.user.userprofile.profile_id == post.user.profile_id %}
                                    <a class="btn btn-outline-primary" href="{% url 'cst:update_post' post.slug %}"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-outline-danger" data-toggle="modal" data-target="#{{ post.user }}" href=""><i class="fa fa-trash"></i></a>
                                    {% endif %}
                                </div>
                                <div class="modal fade" id="{{ post.user }}" style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Are you sure?</h5>
                                                <button type="button" class="close" data-dismiss="modal"><span>×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">Clicking the "delete" button below would delete this post permanently.</div>
                                            <div class="modal-footer">
                                                <form action="{% url 'cst:delete_post' post.slug %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-warning btn-block">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
{% include "partials/footer.html" %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}" ></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
{% include "partials/script.html" %}
</body>
{% endblock %}